:root{
--bgcolor:#C99999;
--dark:black;
--light:white;
--cursive:'Tangerine', cursive;
}
body{
    padding: 0%;
    margin: 0;
    background-color: var(--dark);
    /* background-image: url('sunset.jpg'); */
}


#title{
    margin-top: 3em;
    color: var(--light);
}

#countdown-timer{
  padding-top: 10px ;
  color:var(--light);
}
/* nav bar css */
li {
  list-style: none;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 500;
}

ul:hover li {
  filter: blur(5px);
}
ul li:hover {
  filter: blur(0px);
}
.intro p {
  font-family: var(--cursive);
  color: var(--dark);
  font-size: 10em;
  position: relative;
}

.navbar_text {
  font-size: 2em;
  color: var(--dark);
}

/* carousel styling */

.carousel{
padding-top: 10em;
width: 30%;
display: block;
margin: 0 auto;
border: white 5px;
}

