:root {
  --bgcolor: #c99999;
  --dark: black;
  --light: white;
  --cursive: "Tangerine", cursive;
}

li {
  list-style: none;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 500;
}

ul:hover li {
  filter: blur(5px);
}
ul li:hover {
  filter: blur(0px);
}
.intro p {
  font-family: var(--cursive);
  color: var(--dark);
  font-size: 10em;
  position: relative;
}

.navbar_text {
  font-size: 2em;
  color: var(--dark);
}

/* responsive */
.main-timeline-2 {
  position: relative;
}

.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #26c6da;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */



/* Media queries - Responsive timeline on screens less than 600px wide */

@media (max-width: 992px) {
  a {
    text-decoration: none;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 200;
  }
  .navbar_text {
    font-size: 1em;
    color: var(--dark);
  }
  .intro p {
    font-size: 5em;
  }
}
