body {
  background-image: url('./white-flowers-2465604_1920.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  height: 100vh;
}
.radio-container{
 display: flex ;
 gap: 1em;
 margin: 4px;
}
#attendance {
  margin: 0;
}
section {

}
form{
  display: block ;
  margin: 5em auto;
  max-width: 25em;
  
  background-color: white;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.308) ;
}
@media screen and (max-width: 600px) {
 html body{
  background-image:none;
  background-color: white;
  }
  .navbar-brand{
    display: none;
  }
 
  .img-container {
    position: relative;
    display: inline-block; 
  }
  
  #page-title {
    margin: 0; /* Remove default margin */
  }
  
  .img-container img{
    width:5em;
    height: 25em;
    object-fit: contain;
  }
} 